body {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 50%;
}